.ramen-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box; 
}

.ramen-grid .item {
    text-align: center
}

@media (max-width: 768px) {
    .ramen-grid {
        grid-template-columns: repeat(2, 1fr) !important; 
        gap: 20px; 
    }
    
    .filter a {
        padding: 5px 8px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .ramen-grid {
        grid-template-columns: 1fr !important;
        gap: 10px;
    }

    .ramen-grid .thumb img {
        max-width: 80%;
        height: auto;
    }
}
