.catalog-container h1 {
    text-align: center;
    font-size: 56px; 
    margin-top: 80px;
    margin-bottom: 50px;
}

@media (max-width: 992px) {
    .ramen-grid {
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
    }
}

@media (max-width: 576px) {
    .ramen-grid {
        grid-template-columns: 1fr; 
        gap: 15px;
    }
    .item .thumb {
        height: 350px;
        width: 100%;
    }

}
