:root {
--black: #111;
--sub-bg: #ECEDE7;
}

.content-wrap {
width: calc(100% - 200px); 
margin: 125px auto 200px;
}

.recipe-section {
display: grid;
grid-template-columns: 1fr 50px 540px; 
margin-bottom: 200px;
height: auto;+
}

.text-area {
grid-column: 3 / 4; 
grid-row: 1 / 2; +
display: flex;
flex-direction: column;
justify-content: space-between;
width: 540px;
}

.image-area {
grid-column: 1 / 2; 
grid-row: 1 / 2;
width: 100%;
background-color: var(--sub-bg);
}

.recipe-section:nth-child(even) {
grid-template-columns: 540px 50px 1fr;
}

.recipe-section:nth-child(even) .text-area {
grid-column: 1 / 2; 
}
.recipe-section:nth-child(even) .image-area {
grid-column: 3 / 4;
}

.recipe-number {
font-size: 20px;
margin-bottom: 15px;
margin-top: 0; 
}

.recipe-title {
font-size: 64px; 
font-weight: bold;
line-height: 1; 
margin-bottom: 20px;
margin-top: 300px; 
}

.recipe-subtitle {
font-size: 36px; 
font-weight: normal;
line-height: 1;
margin-bottom: 300px;
margin-top: 30px;
}
.recipe-body,
.recipe-content ul li {
font-size: 20px; 
line-height: 1.6;
}


.recipe-content ul {
list-style: none;
padding-left: 0;
}

.recipe-content ul li {
margin-bottom: 10px;

}



