:root {
    --main-bg: #EBEDE8;
    --sub-bg: #DFE0D7;
    --point: #FF8A3D;
    --point1: #BEE3C2;
    --black: #1f1f1f;
    --gray: #d9d9d9;
    --mint: #bee3c2;
}

body {
    margin: 0;
    background-color: var(--main-bg);
    font-family: "Maruburi", "Pretendard";
    color: var(--black);
    
    padding-top: 50px; 
}

* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

.header {
    width: 100%;
    
    padding: 15px 50px; 
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: rgba(235, 237, 232, 0.7); 

    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
}

.logo {
    text-decoration: none;
    color: var(--black);
    font-size: 48px; 
    font-weight: bold;
    margin: 0;
}

.nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav a {
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
    letter-spacing: 0.3px;
    display: inline-block;
    transition: color 0.3s, transform 0.1s; 
}

.nav a:hover {
    color: var(--point); 
    transform: scale(1.02);
}

.footer {
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 2px solid var(--sub-bg);
    background-color: var(--main-bg);
}

.footer-left .brand {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 6px;
}

.footer-left p {
    margin: 4px 0;
    font-size: 15px;
    line-height: 1.5;
}

.footer-right p {
    margin: 4px 0;
    font-size: 12px;
    line-height: 1.5;
}

.footer-right {
    text-align: right;
}

@media (max-width: 1200px) {
    .page-container {
        width: calc(100% - 100px);
    }

    .footer {
        flex-direction: column;
        align-items: center;
        padding: 50px 50px;
    }
    .footer-right {
        text-align: center;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 15px 20px;
        align-items: center;
    }
    .nav ul {
        flex-direction: column;
        margin-top: 10px;
        text-align: center;
    }
    .nav ul li {
        margin: 5px 0;
    }
    .page-container {
        width: calc(100% - 40px); 
        margin: 50px auto; 
    }
    .main-visual {
        margin-top: 30px;
    }
}

.content-image {
    border: 2px solid #C0C0B8 !important; 
    
    background-color: transparent !important; 
    
    width: 540px; 
    height: 540px; 
}

.content-image img {
    object-fit: contain !important; 
    
    max-width: 100%;
    max-height: 100%;

  
    width: auto !important; 
    height: auto !important;
}
