.tip-content {
    padding: 0;
    margin: 0;
    min-height: calc(100vh - 100px);
}

.tip-container {
    display: flex;
    width: 100%;
    height: 960px; 
    margin: 0;
    margin-top: 100px; 
    margin-bottom: 130px;
}

.tip-item {
    flex: 1; 
    position: relative;
    overflow: hidden;
    
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
}

.tip-item-1 { background-image: url('tip1.png'); } 
.tip-item-2 { background-image: url('tip2.png'); }
.tip-item-3 { background-image: url('tip3.png'); }
.tip-item-4 { background-image: url('tip4.png'); }

.item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    backdrop-filter: blur(5px); 
    background-color: rgba(255, 255, 255, 0.2); 
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    transition: all 0.5s ease-in-out;
}

.item-number {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-size: 96px;
    color: #1F22C9;
    font-weight: bold;
    opacity: 1; 
    transition: opacity 0.3s;
}

.tip-item:hover .item-overlay {
    background-color: transparent;
    backdrop-filter: none;
    
    align-items: flex-start;
    justify-content: flex-end;
    padding: 50px; 
}

.tip-item:hover .item-number {
    opacity: 0;
}

.item-detail {
    opacity: 0;
    color: #ffffff;
}

.tip-item:hover .item-detail {
    opacity: 1;
}

.item-detail .title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
}
.item-detail .subtitle {
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 20px;
}
.item-detail .body {
    font-size: 20px;
    line-height: 1.5;
}
@media (max-width: 992px) {
    .tip-container {
        flex-wrap: wrap; 
        height: auto; 
        margin-top: 50px; 
    }
    .tip-item {
        width: 50%; 
        height: 500px; 
    }
}

@media (max-width: 576px) {
    .tip-item {
        width: 100%; 
        height: 350px; 
    }
    .tip-item:hover .item-overlay {
        padding: 30px;
    }
    .item-detail .title {
        font-size: 28px;
    }
    .item-detail .subtitle {
        font-size: 20px;
    }
    .item-detail .body {
        font-size: 16px;
    }

}
